priority 0
snippet qq "quotes auto" iA
"${1:${VISUAL}}"$0
endsnippet

snippet () "parantheses ()" iA
(${1:${VISUAL}})$0
endsnippet

snippet [] "parantheses []" iA
[${1:${VISUAL}}]$0
endsnippet

snippet {} "parantheses {}" iA
{${1:${VISUAL}}}$0
endsnippet
