snippet &implint "Imlementation intention"
&I will ${1:'[Behaviour]'} at ${2:'[Time]'} in ${3:[Location]}
endsnippet
snippet #habit "habit listing template"
#${1:'habit'}# ${2:+}
make it obvious: ${3:'N/a'} 
make it attractive: ${4:'N/a'} 
make it easy: ${5:'N/a'} 
make it satisfying: ${6:'N/a'} 
endsnippet
