snippet chkmrk "checkmark unicode" i
✓
endsnippet

snippet bbb "bold" iA
**${1:${VISUAL}}**$0
endsnippet

snippet \langle	"⟨" iA
⟨
endsnippet

snippet \rangle	"⟩" iA
⟩
endsnippet

snippet \dag "†" iA
†
endsnippet

snippet \pi "π" iA
π
endsnippet
