# Based on default config

# You can use it to add commands that run after AeroSpace startup.
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = []

# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 30

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
# Fallback value (if you omit the key): on-focused-monitor-changed = []
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# You can effectively turn off macOS "Hide application" (cmd-h) feature by toggling this flag
# Useful if you don't use this macOS feature, but accidentally hit cmd-h or cmd-alt-h key
# Also see: https://nikitabobko.github.io/AeroSpace/goodies#disable-hide-app
automatically-unhide-macos-hidden-apps = true

# Notify simple-bar about window focus change
on-focus-changed = [
  "exec-and-forget osascript -e 'tell application id \"tracesOf.Uebersicht\" to refresh widget id \"simple-bar-index-jsx\"'",
]

# Notify simple-bar about workspace change
exec-on-workspace-change = [
  '/bin/zsh',
  '-c',
  '/usr/bin/osascript -e "tell application id \"tracesOf.Uebersicht\" to refresh widget id \"simple-bar-index-jsx\""',
]

# Possible values: (qwerty|dvorak|colemak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
[key-mapping]
    preset = 'qwerty'

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See:
#                 https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
    inner.horizontal = 5
    inner.vertical =   4
    outer.left =       8
    outer.bottom =     8
    outer.right =      8

    outer.top = [
        { monitor.main = 8 },      # main monitor has macOS bar, no extra gap needed
        38,
    ]
# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented
# Fallback value (if you omit the key): mode.main.binding = {}
[mode.main.binding]

    # All possible keys:
    # - Letters.        a, b, c, ..., z
    # - Numbers.        0, 1, 2, ..., 9
    # - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
    # - F-keys.         f1, f2, ..., f20
    # - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
    #                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
    #                   backspace, tab, pageUp, pageDown, home, end, forwardDelete,
    #                   sectionSign (ISO keyboards only, european keyboards only)
    # - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
    #                   keypadMinus, keypadMultiply, keypadPlus
    # - Arrows.         left, down, up, right

    # All possible modifiers: cmd, alt, ctrl, shift

    # All possible commands: https://nikitabobko.github.io/AeroSpace/commands

    # See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
    # You can uncomment the following lines to open up terminal with alt + enter shortcut
    # (like in i3)
    # alt-enter = '''exec-and-forget osascript -e '
    # tell application "Terminal"
    #     do script
    #     activate
    # end tell'
    # '''
    cmd-q = 'exec-and-forget /Applications/kitty.app/Contents/MacOS/kitty --single-instance --directory ~'

    # Wallpaper management
    ctrl-f12 = 'exec-and-forget ~/.local/bin/wallpaper-switcher next'
    ctrl-shift-f12 = 'exec-and-forget ~/.local/bin/wallpaper-switcher prev'
    cmd-ctrl-f12 = 'exec-and-forget ~/.local/bin/wallpaper-switcher mode'

    # my exit app shortcut
    # cmd-semicolon = 'close --quit-if-last-window'

    # See: https://nikitabobko.github.io/AeroSpace/commands#layout
    alt-period = 'layout tiles horizontal vertical'
    alt-comma = 'layout accordion horizontal vertical'

    # See: https://nikitabobko.github.io/AeroSpace/commands#focus
    alt-cmd-ctrl-h = 'focus --boundaries all-monitors-outer-frame left'
    alt-cmd-ctrl-j = 'focus --boundaries all-monitors-outer-frame down'
    alt-cmd-ctrl-k = 'focus --boundaries all-monitors-outer-frame up'
    alt-cmd-ctrl-l = 'focus --boundaries all-monitors-outer-frame right'

    # monitors by direction
    alt-shift-ctrl-j = 'move-node-to-monitor --focus-follows-window left'
    alt-shift-ctrl-k = 'move-node-to-monitor --focus-follows-window right'


    # See: https://nikitabobko.github.io/AeroSpace/commands#move
    alt-cmd-ctrl-shift-h = 'move left'
    alt-cmd-ctrl-shift-j = 'move down'
    alt-cmd-ctrl-shift-k = 'move up'
    alt-cmd-ctrl-shift-l = 'move right'

    # See: https://nikitabobko.github.io/AeroSpace/commands#resize
    alt-minus = 'resize smart -50'
    alt-equal = 'resize smart +50'

    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace
    alt-cmd-ctrl-1 = 'workspace 1'
    alt-cmd-ctrl-2 = 'workspace 2'
    alt-cmd-ctrl-3 = 'workspace 3'
    alt-cmd-ctrl-4 = 'workspace 4'
    alt-cmd-ctrl-5 = 'workspace 5'
    alt-cmd-ctrl-6 = 'workspace 6'
    alt-cmd-ctrl-7 = 'workspace 7'
    alt-cmd-ctrl-8 = 'workspace 8'
    alt-cmd-ctrl-9 = 'workspace 9'
    alt-cmd-ctrl-a = 'workspace A' # In your config, you can drop workspace bindings that you don't need
    alt-cmd-ctrl-e = 'workspace E'
    alt-cmd-ctrl-s = 'workspace F'
    alt-cmd-ctrl-n = 'workspace N'
    alt-cmd-ctrl-z = 'workspace Z'

    # See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
    alt-cmd-ctrl-shift-1 = 'move-node-to-workspace --focus-follows-window 1'
    alt-cmd-ctrl-shift-2 = 'move-node-to-workspace --focus-follows-window 2'
    alt-cmd-ctrl-shift-3 = 'move-node-to-workspace --focus-follows-window 3'
    alt-cmd-ctrl-shift-4 = 'move-node-to-workspace --focus-follows-window 4'
    alt-cmd-ctrl-shift-5 = 'move-node-to-workspace --focus-follows-window 5'
    alt-cmd-ctrl-shift-6 = 'move-node-to-workspace --focus-follows-window 6'
    alt-cmd-ctrl-shift-7 = 'move-node-to-workspace --focus-follows-window 7'
    alt-cmd-ctrl-shift-8 = 'move-node-to-workspace --focus-follows-window 8'
    alt-cmd-ctrl-shift-9 = 'move-node-to-workspace --focus-follows-window 9'
    alt-cmd-ctrl-shift-a = 'move-node-to-workspace --focus-follows-window A'
    alt-cmd-ctrl-shift-e = 'move-node-to-workspace --focus-follows-window E'
    alt-cmd-ctrl-shift-s = 'move-node-to-workspace --focus-follows-window F'
    alt-cmd-ctrl-shift-n = 'move-node-to-workspace --focus-follows-window N'
    alt-cmd-ctrl-shift-z = 'move-node-to-workspace --focus-follows-window Z'

    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
    alt-tab = 'workspace-back-and-forth'
    # See: https://nikitabobko.github.io/AeroSpace/commands#move-workspace-to-monitor
    alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

    # See: https://nikitabobko.github.io/AeroSpace/commands#mode
    alt-shift-semicolon = 'mode service'

# 'service' binding mode declaration.
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
[mode.service.binding]
    esc = ['reload-config', 'mode main']
    r = ['flatten-workspace-tree', 'mode main'] # reset layout
    f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
    backspace = ['close-all-windows-but-current', 'mode main']

    # sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
    #s = ['layout sticky tiling', 'mode main']

    alt-shift-h = ['join-with left', 'mode main']
    alt-shift-j = ['join-with down', 'mode main']
    alt-shift-k = ['join-with up', 'mode main']
    alt-shift-l = ['join-with right', 'mode main']

    down = 'volume down'
    up = 'volume up'
    shift-down = ['volume set 0', 'mode main']

[[on-window-detected]]
if.window-title-regex-substring = 'LaTeXiT'
run = ['layout floating']

[[on-window-detected]]
if.app-id = 'net.kovidgoyal.kitty'
run = ['layout tiling']

[[on-window-detected]]
if.window-title-regex-substring = 'Preview'
run = ['layout floating']

[[on-window-detected]]
if.app-id = 'com.apple.finder'
run = ['layout floating', 'move-node-to-workspace --focus-follows-window E']

[[on-window-detected]]
if.window-title-regex-substring = 'Firefox'
run = ['move-node-to-workspace --focus-follows-window F']

[[on-window-detected]]
if.app-id = 'info.sioyek.sioyek'
run = ['move-node-to-workspace --focus-follows-window A']

[[on-window-detected]]
if.app-id = 'org.zotero.zotero'
run = ['move-node-to-workspace --focus-follows-window Z']

[[on-window-detected]]
if.app-id = 'com.apple.Preview'
run = ['layout floating']
